<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>F8-SHOP</title>
    <link href="~/Asset/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Asset/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Asset/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Asset/css/price-range.css" rel="stylesheet">
    <link href="~/Asset/css/animate.css" rel="stylesheet">
    <link href="~/Asset/css/main.css" rel="stylesheet">
    <link href="~/Asset/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Asset/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

</head>
<!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i>+84 364202648</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> Kim884740@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    VIETNAM
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">US</a></li>
                                    <li><a href="#">UK</a></li>
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                    VND
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">DOLLAR</a></li>
                                    <li><a href="#">Pound</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-user"></i> Tài khoản</a></li>
                                <li><a href="#"><i class="fa fa-star"></i> Danh sách yêu thích</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Giỏ hàng </a></li>
                                <li><a href="login.html"><i class="fa fa-lock"></i> Đăng nhập</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->
           
        @{ 
            var HeaderPartial = Html.Partial("_Header");
            HeaderPartial = new MvcHtmlString(HeaderPartial.ToString());
         }
        @HeaderPartial
    </header>
    <!--/header-->

    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1><span>F8</span>-SHOP</h1>
                                    <h2>Nơi bán điện thoại uy tính cho bạn</h2>
                                    <p>Dành cho bạn sự uy tín, trách nhiệm , bảo hành</p>
                                    <button type="button" class="btn btn-default get">Mua ngay</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Asset/images/home/banner1.png" class="girl img-responsive" alt="" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>F8</span>-SHOP</h1>
                                    <h2>Nơi bán điện thoại uy tính cho bạn</h2>
                                    <p>Dành cho bạn sự uy tín, trách nhiệm , bảo hành</p>
                                    <button type="button" class="btn btn-default get">Mua ngay</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Asset/images/home/banner2.png" class="girl img-responsive" alt="" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>F8</span>-SHOP</h1>
                                    <h2>Nơi bán điện thoại uy tính cho bạn</h2>
                                    <p>Dành cho bạn sự uy tín, trách nhiệm , bảo hành</p>
                                    <button type="button" class="btn btn-default get">Mua ngay</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Asset/images/home/banner1.png" class="girl img-responsive" alt="" />
                                </div>
                            </div>

                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--/slider-->
    <!-- body-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        @{ Html.RenderPartial("_LoaiSanPham", Doan.Models.BUS.LoaiSanPhamBUS.DanhSachLoaiSP()); }
                        <!--/category-products-->
                        <!-- Hiển thị danh mục thương hiệu-->
                        @{ Html.RenderPartial("_NhaSanXuat", Doan.Models.BUS.NhaSanXuatBUS.DanhSach()); }
                    </div>
                </div>

                @RenderBody()


            </div>
        </div>
    </section>
    
     @{ Html.RenderPartial("_Footer");}

    <script src="~/Asset/js/jquery.js"></script>
    <script src="~/Asset/js/bootstrap.min.js"></script>
    <script src="~/Asset/js/jquery.scrollUp.min.js"></script>
    <script src="~/Asset/js/price-range.js"></script>
    <script src="~/Asset/js/jquery.prettyPhoto.js"></script>
    <script src="~/Asset/js/main.js"></script>
</body>

</html>